* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f4c5c3;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color:#f4c5c3;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
	  -3px 0px 7px rgba(78, 20, 56, 0.8), 
	  0px 4px 7px rgba(78, 20, 56, 0.8);
}

.title {
    text-align: center;
    padding: 30px;
}


.container {
    background-color: white;
    margin: 50px auto;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.task-area {
    border: 1px solid #f4c5c3;
    margin-top: 2em;
}

#task-input {
   padding: 2px;
   margin-right: 10px;
   border: none;
   border-bottom: 2px solid #f4c5c3;
   box-shadow: 16px 17px 38px -11px rgba(0,0,0,0.67);
}

#task-input:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
  }

.task-tabs {
    display: flex;
    position: relative;
    border-bottom: 1px solid #f4c5c3;
}


.task-tabs div {
    font-weight: 400;
    padding: 1em;
    margin-right: 40px;
}

#under-line {
    position: absolute;
    height: 2px;
    background-color: #f4c5c3;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
    width: 0;
    left: 0;
    top: 0;
    padding: 0;
    transition: 0.5s;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 3em;
}

.task-done {
    text-decoration: line-through;
    color: gray;
}

.task-tabs div {
    cursor: pointer;
}

#add-button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 10px 15px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  #add-button:hover {
    background: #F6F9FE;
    color: #f4c5c3 ;
  }
  
  #add-button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none; 
  }
  
  #add-button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  #add-button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  #add-button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  #add-button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  #add-button:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }

  .button-16 {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
  }
  
  .button-16:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
  }
  
  .button-16:focus {
    border-color: #4285f4;
    outline: none;
  }